* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 3rem 2rem;
  max-width: 1200px;
  margin: auto;
}

section {
  text-align: center;
  margin-bottom: 4rem;
}

p {
  font-size: 2.2rem;
  color: #333;
  margin-top: 0.5rem;
  font-weight: 500;
  color: grey;
}
.copyright {
  font-size: 1.2rem;
  color: #333;
  margin-top: 0.5rem;
  font-weight: 500;
  color: white;
  font-weight: bold;
}

/* Container*/
.ofertas {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  padding: 0 1rem;
}

/* Card Individual */
.ofertas section {
  background: #fff;
  border-radius: 12px;
  padding: 1.5rem;
  /* Sombra */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s;
  /* altura  */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ofertas section:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.ofertas section h3 {
  font-size: 1.3rem;
  color: #000;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
